/*  your css code here. If applicable */
body{
	background: url(https://www.globalfocusmagazine.com/wp-content/uploads/2020/02/Engaging_with_technology-scaled.jpg);
    background-size: cover;
	background-repeat: no-repeat;
}
h1{
	text-align: center;
	color: white;
}